body{
    background-color: #ffe8ad;
    color: #1c1501;
}
h1{
	font-size: 50px;
	text-align: center;
}
h2{
	font-size: 40px;
	text-align: center;
}

p{
	text-align: center;
}

table{
	border: 2px solid black;
	border-collapse: collapse;
	width:100%;
}

th, td{
	width:33%;
	border: 2px solid black;
	text-align:center;
	padding: 15px;
}

img{
	width:90%;
	padding:5%;
}

li{
	font-size: 20px;	
}